:root {
    --interbold:"InterBold";
    --cinza-escuro: #D9D9D9;
    --cinza: #EEEEEE;
    --white: #ffffff;
    --azul-claro: #E5F4FF;
    --azul-escuro: #1298F8;
    --verde: #48D05F; 
    --vermelho: #E92929;  
    }